# Compiled output from the build process
build/
target/
/WEB-INF/classes/
*.class
*.war
*.ear

# Log files
*.log

# IDE-specific files and folders
# Eclipse
.classpath
.project
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Dependency directories
node_modules/
/WEB-INF/lib/

# Temporary files and backups
*.tmp
*.bak
*.swp

# macOS specific files
.DS_Store

# Server configurations
Servers/

# Build manifest file
**/META-INF/MANIFEST.MF